<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dao.PlayerMapper">

    <insert id="insert">
        insert into player(playerName,foundTime,playerState,remarks)
        values (#{playerName},#{foundTime},#{playerState},#{remarks})
    </insert>

    <select id="selectByTime" resultType="player">
        select * from player where foundTime=#{foundTime}
    </select>

</mapper>